
.subscribe-button {
    background-color: rgb(200, 0, 0);
    color: white;
    border: none;
    height: 36px;
    width: 105px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: opacity 0.18s;
}
.subscribe-button:hover{
    opacity: 0.8;
}
.subscribe-button:active{
    opacity: 0.5;
}
.join-button {
    background-color: white;
    border-color: rgb(41, 118, 211);
    border-style: solid;
    border-width: 1px;
    height: 35px;
    color: rgb(41, 118, 211);
    width: 60px;
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 0.15s, color 0.15s;
    

}
    .join-button:hover {
        background-color: rgb(41, 118, 211);
        color: white;
    }
    .join-button:active{
        opacity: 0.8;
    }
.tweet-button {
    background-color: deepskyblue;
    color: white;
    border: none;
    height: 36px;
    width: 70px;
    border-radius: 18px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    transition: box-shadow 0.15s;
}
.tweet-button:hover{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
