
p {
    font-family: Roboto;
}

.video-title {
    font-size: 18PX;
    font-weight: bold;
    width: 280px;
    line-height: 24px;
    margin-bottom: 3px;
}

.video-stats {
    font-size: 14px;
    color: rgb(96, 96, 96);
    margin-top: 2px;
    margin-bottom: 0px;
}

.video-author {
    color: rgb(96, 96, 96);
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 0;
}

.video-description {
    color: rgb(96, 96, 96);
    font-size: 14px;
    width: 280px;
    line-height: 22px;
    margin-top: 16px;
    margin-bottom: 70px;
}

.apple-text {
    margin-bottom: 60px;
    font-size: 15px;
    background-color: rgb(227, 65, 64);
    color: white;
    text-align: center;
    padding-top: 18px;
    padding-bottom: 18px;
}

.span-element:hover {
    text-decoration: underline;
    cursor: pointer;
}
.m_scroll_arrows {
    display: block;
    width: 5px;
    height: 5px;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    margin: 0 0 3px 4px;
    width: 20px;
    height: 20px;
}